	<include file='Common:header' />

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">

			<!-- #section:basics/sidebar -->

	<include file='Common:left' />


			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">

                        
								<div class="alert alert-block alert-success">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>
									<i class="ace-icon fa fa-check green"></i>
									为了您更好的使用本系统，建议屏幕分辨率1280*768以上，并且安装chrome谷歌浏览器 ——— <a href="{:U('Help/soft')}">进入软件下载专区</a>
								</div>

								<div class="col-sm-7 sl-indextop7">
										<!-- #section:pages/dashboard.infobox -->
										<div class="infobox infobox-green">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-folder"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">{$tonews_count}</span>
												<div class="infobox-content">今日普通文章数</div>
											</div>

											<!-- #section:pages/dashboard.infobox.stat -->
											<div class="stat <if condition='$difday lt 1'>stat-important<else/>stat-success</if>">{$difday|round=###,0}%</div>

											<!-- /section:pages/dashboard.infobox.stat -->
										</div>

										<div class="infobox infobox-blue">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-user"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">11</span>
												<div class="infobox-content">今日增加会员</div>
											</div>

											<div class="badge badge-success">
												+32%
												<i class="ace-icon fa fa-arrow-up"></i>
											</div>
										</div>

										<div class="infobox infobox-pink">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-shopping-cart"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">0</span>
												<div class="infobox-content">待定</div>
											</div>
											<div class="stat stat-important">0%</div>
										</div>


										<!-- /section:pages/dashboard.infobox -->
										<div class="space-6"></div>

										<!-- #section:pages/dashboard.infobox.dark -->
										<div class="infobox infobox-orange infobox-small infobox-dark">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-book"></i>
											</div>

											<div class="infobox-data">
												<div class="infobox-content">总文章数</div>
												<div class="infobox-content">{$news_count}</div>
											</div>
										</div>

										<div class="infobox infobox-green infobox-small infobox-dark">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-users"></i>
											</div>

											<!-- /section:pages/dashboard.infobox.sparkline -->
											<div class="infobox-data">
												<div class="infobox-content">总会员数</div>
												<div class="infobox-content">32,000</div>
											</div>
										</div>

										<div class="infobox infobox-orange2 infobox-small infobox-dark">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-download"></i>
											</div>

											<div class="infobox-data">
												<div class="infobox-content">待定</div>
												<div class="infobox-content">0</div>
											</div>
										</div>
										
										<div class="infobox infobox-blue infobox-small infobox-dark">
											<!-- #section:pages/dashboard.infobox.sparkline -->
											<div class="infobox-chart">
												<span class="sparkline" data-values="3,4,2,3,4,4,2,2"></span>
											</div>

											<!-- /section:pages/dashboard.infobox.sparkline -->
											<div class="infobox-data">
												<div class="infobox-content">待定</div>
												<div class="infobox-content">0</div>
											</div>
										</div>
										<!-- /section:pages/dashboard.infobox.dark -->
										
										
									<div class="widget-box sl-indextop10">
											<div class="widget-header">
												<h5 class="widget-title"><span style="font-size:14px; font-family:Microsoft YaHei">系统版本：开发信息</span></h5>

											</div>

											<div class="widget-body">
												<div class="widget-main">
													<p class="alert alert-info sl-line-height25">
														框架版本：ThinkPHP{$info.ThinkPHPTYE}&nbsp;&nbsp;上传附件限制：{$info.ONLOAD}<br />
														系统版本：{$info.RUNTYPE}&nbsp;&nbsp;MYSQL版本：{:mysql_get_server_info()}<br />
													</p>
													<p class="alert alert-success">
														技术发开人员：slackck QQ:876902658<br />
													</p>
												</div>
											</div>
										</div>
									</div>








									<div class="col-xs-12 col-sm-5 widget-container-col">
										<div class="widget-box widget-color-blue">
											<!-- #section:custom/widget-box.options -->
											<div class="widget-header">
												<h5 class="widget-title bigger lighter sl-font14">
													<i class="ace-icon fa fa-table"></i>
													<span style="font-size:14px; font-family:Microsoft YaHei">本月热门文章排行</span>
												</h5>
											</div>

											<!-- /section:custom/widget-box.options -->
											<div class="widget-body">
												<div class="widget-main no-padding">
													<table class="table table-striped table-bordered table-hover">
														<thead class="thin-border-bottom">
															<tr>
																<th width="68%">标题</th>

																<th width="17%"><em>点击数</em></th>
															</tr>
														</thead>

														<tbody>
														<foreach name="news_list" item="v">
															<tr>
																<td height="25">{$v.news_title}</td>
																<td>{$v.news_hits}</td>
															</tr>
														</foreach>
														</tbody>
													</table>
												</div>
											</div>
									</div><!-- /.span -->
								</div><!-- /.row -->















<style>
.font12{ font-size:14px;}
</style>
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="hidden">

									<div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse menu-min">
										<ul class="nav nav-list">
											<li>
												<a href="{:U('Index/index')}">
													<o class="font12">欢迎使用slackck定制后台系统管理</o>
												</a>
											</li>
										</ul><!-- /.nav-list -->
									</div><!-- .sidebar -->
								</div>

							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

	<include file='Common:footer' />
    
		</div><!-- /.main-container -->


	</body>
</html>
