<div id="sidebar" class="sidebar responsive">
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<!--四个毫无意义的按钮-->
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-success"><i class="ace-icon fa fa-signal"></i></button>
			<button class="btn btn-info"><i class="ace-icon fa fa-pencil"></i></button>
			<button class="btn btn-warning"><i class="ace-icon fa fa-users"></i></button>
			<button class="btn btn-danger"><i class="ace-icon fa fa-cogs"></i></button>
		</div>
	</div>
	<ul class="nav nav-list">
		<php>
		use Common\Controller\AuthController;
		use Think\Auth;
		$auth_rule = M('auth_rule');
		$menu = $auth_rule
				->field("id,name,pid,title,css")
				->where('status=1')
				->order('sort')
				->select();	   
		$auth = new Auth();
		//没有权限的菜单不显示
		foreach ($menu as $k=>$v){
			if(!$auth->check($v['name'], $_SESSION['aid']) && $_SESSION['aid'] != 1){
				unset($menu[$k]);
			}
		}
		//格式化菜单
		$menu=getMenu($menu);
		//dump($menu);
		</php>
		<foreach name="menu" item="vo">
			<li class="<if condition="CONTROLLER_NAME eq $vo['name']">active open</if>">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa {$vo.css}"></i>
					<span class="menu-text">
						{$vo.title}
					</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<volist name="vo['child']" id="sub">
						<li class="<if condition="($_SESSION['se'] eq $sub['id'])">active</if>">
							<a href="{:U($sub['name'],array('se'=>$sub['id']))}">
								<i class="menu-icon fa fa-caret-right"></i>
								{$sub.title}
							</a>
							<b class="arrow"></b>
						</li>
					</volist>
				</ul>
			</li>
		</foreach>
	</ul>
	<!--收紧放缩>>处理-->
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
</div>

